# SPDX-License-Identifier: GPL-2.0

menuconfig MOTION
	bool "Linux Motion Control support"
	select IIO
	help
	  The Linux Motion Control subsystem contains drivers for different
	  types of motion control hardware, like (stepper-)motor drivers and
	  linear actuators.
	  Say Y here if you want to chose motion control devices.

if MOTION

config TMC5240
	tristate "TMC5240 stepper motor driver"
	depends on SPI
	select REGMAP_SPI
	help
	  Say Y here if you have an Analog Devices TMC5240 stepper
	  motor controller.

	  To compile this driver as a module, choose M here: the
	  module will be called tmc5240.

config MOTION_SIMPLE_PWM
	tristate "Simple PWM base DC motor driver"
	depends on PWM
	select MOTION_HELPERS
	help
	  Say Y here is you have a DC motor driver you wish to control
	  with 1 or 2 PWM outputs. Typically this is an H-bridge or similar
	  driver, like the TI DRV8873 for example.

	  To compile this driver as a module, choose M here: the
	  module will be called "motion-simple-pwm".

config MOTION_HELPERS
	bool
	depends on MOTION

endif # MOTION

