# SPDX-License-Identifier: GPL-2.0

menuconfig MOTION
	bool "Linux Motion Control support"
	select IIO
	help
	  The Linux Motion Control subsystem contains drivers for different
	  types of motion control hardware, like (stepper-)motor drivers and
	  linear actuators.
	  Say Y here if you want to chose motion control devices.

if MOTION


config TMC5240
	tristate "TMC5240 stepper motor driver"
	depends on SPI
	select REGMAP_SPI
	help
	  Say Y here if you have an Analog Devices TMC5240 stepper
	  motor controller.

	  To compile this driver as a module, choose M here: the
	  module will be called tmc5240.

config MOTION_HELPERS
	bool
	depends on MOTION

endif # MOTION

